<!DOCTYPE html>
<html lang="en">
<a name="top"></a>

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <flash>
    <%- include('../partials/flash') %>
  </flash>

  <header class="rounded">
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron .bg-light.bg-gradient">


      <h1 class="display-4">Issues: </h1>

      <table class="table table-striped table-dark" id="issues-table">
        <thead class="thead-light">
          <tr>
            <th>Nr</th>

            <th>Title</th>
            <th>Issue ID</th>
            <th>Description</th>
            <th>Created at</th>
            <th>State</th>
            <th>User Avatar</th>
            <th>Close / Change Title</th>
            
          </tr>
        </thead>
        <% for(var i=0; i < issues.length; i++) { %>

          <tr id="issueRow">
            <td>
              <%= i+1 %>
            </td>

            <td>
              <%= issues[i].title %>
            </td>
            </td>
            <td>
              <%= issues[i].iid %>
            </td>
            <td>

              <%= issues[i].description %>
            </td>
            <td>
              <i class="fa-solid fa-calendar-days"></i> <%= issues[i].date %> <i class="fa-regular fa-clock"></i> <%= issues[i].time %>
            </td>
            <td>
              <%= issues[i].state %>
            </td>
            <td>
              <img src=<%= issues[i].avatarUrl %> alt="Avatar" id="avatarImg" class="w-50 img-thumbnail"/>
              
            </td>
            <td>
              <%let closeUri = "/close"+":"+issues[i].iid %>
              <%let updateUri = "/updateTitle"+":"+issues[i].iid %>
              <a class="btn btn-warning align-middle customButton" href=<%=closeUri%> role="button" style="vertical-align: middle"><i class="fa-solid fa-xmark"></i></a>
              <a class="btn btn-warning align-middle customButton" href=<%=updateUri%>  role="button" style="vertical-align: middle"><i class="fa-solid fa-bolt"></i></a>
            </td>

          </tr>
          <% } %>
      </table>

      </br>
      <a class="btn btn-outline-primary" href="#top" role="button">Back to top</a>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>